
@font-face {
                          font-family: "mplus-1c-medium";
                          src: url('../fonts/mplus-1c-medium.ttf') format("truetype");
                        }

.circleid32 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 1328px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.circleid32 .u8a73u7d30u8aacu660e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : 38000px;
  width               : 350px;
  position            : relative;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HiraginoSans-W2", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.circleid32 .rectangle {
  background-color    : rgba(215, 215, 215, 0.0);
  top                 : 0px;
  height              : 215px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  z-index             : 1;
}
.circleid32 .s156532740 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 215px;
  width               : 375px;
  object-fit          : cover;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .u77e2u5370u30a2u30a4u30b3u30f3u3000u5de62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 220px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 45px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .u30b5u30fcu30afu30ebu540d {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HiraginoSans-W8", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.circleid32 .u30e1u30fcu30ebu306eu7121u6599u30a2u30a4u30b3u30f3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 269px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid32 .twitteru306eu30a2u30a4u30b3u30f3u7d20u6750u305du306e21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 319px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  z-index             : 4;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
