
@font-face {
                          font-family: "mplus-1c-medium";
                          src: url('../fonts/mplus-1c-medium.ttf') format("truetype");
                        }

.circleid21 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 1420px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.circleid21 .u8a73u7d30u8aacu660e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 231px;
  height              : 38000px;
  width               : 340px;
  position            : relative;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HiraginoSans-W2", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.circleid21 .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 215px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid21 .s156532740 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 215px;
  width               : 375px;
  object-fit          : cover;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid21 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.circleid21 .u30b5u30fcu30afu30ebu540d {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : auto;
  width               : 340px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HiraginoSans-W8", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.circleid21 .u25b3close {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : auto;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HiraginoSans-W2", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.circleid21 .u25b3close .span1 {
  line-height         : 24.0px;
}
.circleid21 .u25b3close .span2 {
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
