<!doctype html>
<html lang="ja">

{% extends 'cms/base.html' %}

{% block title %}About | {% endblock %}

{% block content %}


<head>
<meta charset="UTF-8">
<title>About</title>
<link href="../../static/css/about.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="main">
  <h1>おうちでテント列</h1>
    <p>
      <br>
    　UTiCは新型コロナウイルスの影響で新歓活動の機会を失った東京大学のサークル・部活を支援するサービスです。<br>
      <br>
    </p>

  <h1>「UTiC」：the University of Tokyo introduction of Circles</h1>
    <p>
      <br>
    「UTiC」はthe University of Tokyo introduction of Circles の略称として名付けられました。<br>
      <br>
    </p>

  <h1>失われた「偶然の出会い」</h1>
    <p>
      <br>
      新入生からはテント列やビラ配りで検討するはずだったサークルとの出会いがなくなり，選択の幅が狭まってしまっている，という課題がありました。<br>
      <br>
    </p>

  <h1>「貴重な機会が失われてしまった...」</h1>
    <p>
      <br>
      サークル・部活からは新入生に知ってもらう貴重な機会が失われ，オンラインでもなかなか自分のサークル・部活を目にしてもらえないという課題がありました。<br>
      <br>
    </p>

  <h1>TinderライクなUI</h1>
    <p>
      <br>
      これらの課題を解決すべく，ランダムにサークル・部活を表示することで思わぬサークル・部活との出会いがある，そんなWEBアプリ制作を目指しました。<br>
      <br>
    </p>

  <h1>3人・4週間で作成</h1>
    <p>
      <br>
      作成チームは東京大学に所属する有志三年生3人です(理学部・工学部・後期教養学部所属)。企画・作成・ローンチは約4週間で終えました。<br>
      <br>
    </p>

  <h1>UTokyo Project Sprint公認団体</h1>
    <p>
      <br>
      UTiCは<a href="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utokyo-project-sprint/">UTokyo Project Sprint</a>公認団体です。<br>
      <br>
  </p>

  <h1>6月1日(月)正式版公開</h1>
    <p>
      <br>
      05月01日(金)　運営チーム結成<br>
      05月28日(木)　β版公開<br>
      06月01日(月)　正式版公開<br>
      <br>
    </p>

  <h1>Thank you for You</h1>
    <p>
      <br>
      ローンチに至るまでたくさんの方々にお世話になりました。この場を借りて御礼申し上げます。誠にありがとうございました。
      <br>
    </p>

  <h1>New Gear Coming Soon</h1>
    <p>
      <br>
      「選択授業の仕分け」や「学部学科の仕分け」への応用も検討しています。
      <br>
    </p>

</div>

</body>

{% endblock %}

</html>