<!doctype html>
<html lang="ja">

{% extends 'cms/base.html' %}

{% block title %}About | {% endblock %}

{% block content %}



<head>
<meta charset="UTF-8">
<title>About</title>
<link href="../../static/css/about.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <h1>About UTiC</h1>
</header>

<div id="branding">
  <p>UTiCはTinderに着想を得た，東京大学のサークル・部活における新歓活動を強力にサポートするサービスです。
    UTokyo Project Sprint公認団体で，「UTiC」はthe University of Tokyo introduction of Circles の略です。
  </p>
</div>　

<section>
<article>
  <h1>いま，私たちにできること</h1>

  <p>
   今回のUTiCプロジェクトは，新型コロナウイルスの影響で様々な活動が制限される中，何か私たちにできることはないか，という考えの中立ち上がったプロジェクトです。
    UTiC運営チームの所属する東京大学でも例にもれず活動制限が行われ，テント列の中止・ビラ配りの中止・サーオリの中止・体験活動の中止など新歓活動が様々な面で制約されているという現状がありました。
    一方，新入生からはビラ配り・テント列などが中止になったことで「サークル全体を見る機会がない」「どのようなサークルがあるのかわからない」「友達ともあったことないので情報が入ってこない」
    と言った声がありました。そこで私たちはスマホアプリ「Tinder」に着想を得た，サークル・部活の紹介アプリケーションを作成してみたらどうか，と考えました。
  </p>
</article>

</section>
  <h1>Shedule</h1>

  <p>
    2020年05月28日(木)　ベータ版公開(協力いただくサークル・部活を募集)
    2020年06月01日(月)　正式版公開(ユーザー様に使用していただく)
  </p>
</body>






{% endblock %}

</html>