<!DOCTYPE html>

{% extends 'cms/base.html' %}

{% block title %}1-1 | {% endblock %}

{% block content %}

<html>
    <head>
        <link href="../static/images/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="../static/css/circleID11.css" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author"/>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="circleid11"/>
        <div class="circleid11 anima-word-break ">
            <div style="width: 375px; height: 100%; position:relative; margin:auto;">
                <div class="app">
                    App
                </div>
                <img alt="Image" anima-src="../static/images/circleid-1-2-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="/">
                </a>
                <div class="oval1">
                    <a href="/">
                    </a>
                    <a href="/">
                        <img alt="Image" anima-src="../static/images/circleid-1-1-oval-4@2x.png" class="oval6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <img alt="Image" anima-src="../static/images/circleid-1-1-u3044u3044u306du306eu624bu306eu30a2u30a4u30b3u30f3@2x.png" class="u3044u3044u306du306eu624bu306eu30a2u30a4u30b3u30f3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <a href="/">
                        <img alt="Image" anima-src="../static/images/circleid-1-3-oval-5@2x.png" class="oval11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
                <img alt="Image" anima-src="../static/images/circleid-1-3-oval-3@2x.png" class="oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="oval3">
                    <img alt="Image" anima-src="../static/images/circleid-1-1-oval-4@2x.png" class="oval6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image" anima-src="../static/images/circleid-1-2-u30ceu30fcu30deu30ebu306eu592au3055u306eu30cfu3099u30c4u30a2u30a4u30b3u30f3@2x.png" class="u30ceu30fcu30deu30ebu306eu592au3055u306eu30cfu3099u30c4u30a2u30a4u30b3u30f3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <a href="circleid-1-1">
                        <img alt="Image" anima-src="../static/images/circleid-1-3-oval-5@2x.png" class="oval11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
                <div class="rectangle">
                    <div class="background">
                    </div>
                    <div class="rectangle6">
                    </div>
                    <a href="/userid">
                        <img alt="Image" anima-src="../static/images/circleid-1-2-u30d5u30a9u30ebu30bfu3099u30a2u30a4u30b3u30f314@2x.png" class="u30d5u30a9u30ebu30bfu3099u30a2u30a4u30b3u30f314" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
                <img alt="Image" anima-src="../static/images/circleid-1-3-rectangle-2.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="s156532740">
                    <a href="/circleid-1-2">
                        <img alt="Image" anima-src="../static/images/circleid-1-1-s156532740.png" class="s1565327401" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <a href="/circleid-1-2">
                        <div class="rectangle6">
                        </div>
                    </a>
                </div>
                <img alt="Image" anima-src="../static/images/circleid-1-2-rectangle.png" class="rectangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30b5u30fcu30afu30ebu540d" id="output_csv_name">
                </div>
                <img alt="Image" anima-src="../static/images/circleid-3-2-oval-1@2x.png" class="oval21" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img alt="Image" anima-src="../static/images/circleid-3-2-oval-1@2x.png" class="oval4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img alt="Image" anima-src="../static/images/circleid-3-1-oval-2@2x.png" class="oval5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="/circleid-2-1">
                    <div class="u25bdmore">
                        <span class="span1">▽</span><span class="span2">more</span>
                    </div>
                </a>
                <div class="rectangle3">
                </div>
                <div class="rectangle4">
                </div>
                <div class="rectangle5">
                </div>
                <div class="u30bfu30b02" id="output_csv_tag1">
                </div>
                <div class="u30bfu30b03" id="output_csv_tag2">
                </div>
                <div class="u30bfu30b01" id="output_csv_tag3">
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
            const outputElementName = document.getElementById('output_csv_name');

function getCsvDataName(dataPath) {
 const request = new XMLHttpRequest();
 request.addEventListener('load', (event) => {
  const response = event.target.responseText;
  convertArrayName(response);
 });
 request.open('GET', dataPath, true);
 request.send();
}

function convertArrayName(data) {
 const dataArrayName = [];
 const dataStringName = data.split('\n');
 for (let i = 0; i < dataStringName.length; i++) {
  dataArrayName[i] = dataStringName[i].split(',');
 }
 outputElementName.innerHTML = dataArrayName[1][1];
}
getCsvDataName('static/csv/bukatu.csv');
const outputElementTag1 = document.getElementById('output_csv_tag1');

function getCsvData(dataPath) {
 const request = new XMLHttpRequest();
 request.addEventListener('load', (event) => {
  const response = event.target.responseText;
  convertArray(response);
 });
 request.open('GET', dataPath, true);
 request.send();
}

function convertArray(data) {
    const dataArray = [];
    const dataString = data.split('\n');
    for (let i = 0; i < dataString.length; i++) {
        dataArray[i] = dataString[i].split(',');
    }
    outputElementTag1.innerHTML = dataArray[1][2];
}
getCsvData('../../static/csv/bukatu.csv');
const outputElementTag2 = document.getElementById('output_csv_tag2');

function getCsvDataTag2(dataPath) {
 const request = new XMLHttpRequest();
 request.addEventListener('load', (event) => {
  const response = event.target.responseText;
  convertArrayTag2(response);
 });
 request.open('GET', dataPath, true);
 request.send();
}

function convertArrayTag2(data) {
 const dataArrayTag2 = [];
 const dataStringTag2 = data.split('\n');
 for (let i = 0; i < dataStringTag2.length; i++) {
  dataArrayTag2[i] = dataStringTag2[i].split(',');
 }
 outputElementTag2.innerHTML = dataArrayTag2[1][3];
}
getCsvDataTag2('../../static/csv/bukatu.csv');
const outputElementTag3 = document.getElementById('output_csv_tag3');

function getCsvDataTag3(dataPath) {
 const request = new XMLHttpRequest();
 request.addEventListener('load', (event) => {
  const response = event.target.responseText;
  convertArrayTag3(response);
 });
 request.open('GET', dataPath, true);
 request.send();
}

function convertArrayTag3(data) {
 const dataArrayTag3 = [];
 const dataStringTag3 = data.split('\n');
 for (let i = 0; i < dataStringTag3.length; i++) {
  dataArrayTag3[i] = dataStringTag3[i].split(',');
 }
 outputElementTag3.innerHTML = dataArrayTag3[1][4];
}

getCsvDataTag3('../../static/csv/bukatu.csv');
        </script>
        <!-- End of Scripts -->
    </body>
</html>

{% endblock %}