<html>
<body>
<div id="output_csv_name">
</div>
<script>
  const outputElementName = document.getElementById('output_csv_name');

function getCsvDataName(dataPath) {
 const request = new XMLHttpRequest();
 request.addEventListener('load', (event) => {
  const response = event.target.responseText;
  convertArrayName(response);
 });
 request.open('GET', dataPath, true);
 request.send();
}

function convertArrayName(data) {
 const dataArrayName = [];
 const dataStringName = data.split('\n');
 for (let i = 0; i < dataStringName.length; i++) {
  dataArrayName[i] = dataStringName[i].split(',');
 }
 outputElementName.innerHTML = dataArrayName[1][8];
}
getCsvDataName('static/csv/bukatudata.csv');
</script>
</body>
</html>