<html>
<head></head>
<body>
  <a href="/todos/new/">登録</a>
  {% if todo_list %}
    <table>
      <tr>
        <td>id</td>
        <td>title</td>
        <td></td>
      </tr>
      {% for todo in todo_list %}
      <tr>
        <td><a href="/todos/{{ todo.todo_id }}/">{{ todo.todo_id }}</a></td>
        <td>{{ todo.title }}</td>
        <td><a href="/todos/delete/{{ todo.todo_id }}/">削除</a></td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>No todos are available.</p>
  {% endif %}
  </body>
</html>