<html>
<head></head>
<body>
<!--ここを修正。action=でデータの渡し先を指定しています-->
  <form action="../index/" method="post">
    {% csrf_token %}
<!--    title: <input type="text" name="title" value="{{ todo.title }}"/>-->
<!--    main: <input type="text" name="main_text" value="{{ todo.main_text }}"/>-->
<!--    <input type="hidden" name="user" value="userid=01"/>-->
<!--    隠しフォームで入力します。入力内容はtodo.todo_id(models.pyのTodo classに定義されている)で，models.py中のtodo_idというハコに格納されます-->
    <input type="hidden" name="todo_id" value="{{ Todo.todo_id }}"/>
<!--    いいねボタンで提出できます-->
    <input type="submit" value="いいね"/>
  </form>
</body>
</html>
